*{
    box-sizing: border-box;
}

body{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    background-color:white;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color:rgb(255, 166, 0) ;
    padding: 1em;
    color: white;
}

.sidebar-logo{
    display: flex;
    align-items: center;
}

.sidebar-logo > svg{
    max-height: 50px;
    width: 50px;
    flex: 1;
}

.sidebar-logo > p{
    flex: 3;
    font-size: 1.5rem;
    margin-left: 0.5em;
    font-weight: bold;
}

.sidebar .lists{
    position: -webkit-sticky;
    position: sticky;
    top: 1em;
}

.sidebar > .lists > ul{
    margin-top: 2.5em;
}

.sidebar > .lists > ul > li{
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
}

.sidebar .lists > ul > li > svg{
    max-height: 25px;
    fill: white;
}

.sidebar .lists >ul > li > span{
    font-weight: 500;
}

.sidebar .lists >ul >li + li{
    margin-top: 1em;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr;
}

header{
    padding: 2em;
    display: grid;
    gap: 20px 2px;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 2;
    border-bottom: 3px solid rgb(211,210,210);
}

.search{
    display: flex;
    align-items: center;
    gap: 1em;
}

.search > svg{
    max-width: 25px;
    fill: black;
}

.search input{
    border: none;
    border-radius: 1em;
    background-color: #e2e8f0;
    width: 100%;
    padding: 0.5em;
}

.status{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
    font-weight: bold;
}

.status > svg{
    max-width: 25px;
    cursor: pointer;
    fill:black;
}

.welcome{
    display: flex;
    align-items: center;
    gap: 1em;
    font-weight: bold;
}

.welcome > div > p:first-child{
    font-size: 0.75rem;
    margin: 0;
}

.welcome > div > p:last-child{
    margin: 1;
    font-size: 1.2rem;
}

.header-buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5em;
}

.header-buttons > button{
    border: none;
    border-radius: 1.5em;
    background-color: orange;
    color: white;
    padding: 0.5em 2em;
    cursor: pointer;
    font-weight: bold;
}


.content{
    background-color: rgb(241, 240, 240);
    display: grid;
    grid-template-columns: 5fr 2fr;
    align-items: start;
    align-content: start;
}

.projects{
    grid-row: span 2;
    padding: 1em;
}

.projects > .cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 1em;
}

.projects > h2, .announcements>h2{
    font-size: 1.125rem;
}

.card{
    background-color: white;
    border-radius: 8px;
    border-left: 5px #f0b429;
    padding: 1.5em 1em;
    box-shadow: rgba(0,0,0,0.15) 2.4px 2.4px 3.2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card-heading{
    font-weight: bold;
    margin: 0;
}

.card-description{
    opacity: 0.9;
    margin: 0;
}

.announcements{
    padding: 1em 1em 1em 0.1em;
    
}

.announcements > ul{
    background-color: white;
    padding: 1em 1.5em;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.15) 2.4px 2.4px 3.2px;
}

.announcements >ul >li{
    padding: 0.5em;
}

.announcements >ul >li >h4{
    margin: 0;
    font-size: 0.9rem;
}

.announcements >ul >li >p{
    font-size: 0.8rem;
    opacity: 0.9rem;
    margin: 0;
}

.announcements >ul >li + li{
    border-top: 1px solid black;
}

